.modal {
	background-color: rgba(0, 0, 0, 0.8);
	display: block;
	opacity: 0;
	visibility: hidden;
	transition: 300ms ease-in-out;
	&.open {
		opacity: 1;
		visibility: visible;
	}
	.background {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 1051;
	}
	.content {
		@include positionCenter();
		background-color: $white;
		z-index: 1052;
	}
}
