// bgs
$white: #fff;
$main-bg: #3a454d;
$darker-bg: #1d2126;
$light-bg: #c8cdd0;
$lighter-bg: #e1e6ea;
$btn-hover-bg: #23b7a4;
$btn-black-hover-bg: #333;
$opacity-layer: rgba($white, 0.4);
// border
$section-border: #dddddd;
// fonts
$font: 'Roboto',
Arial,
sans-serif;
$title-color: #292f36;
$text-color: #8d8f92;
$menu-font-color: #a4aead;
$title-font-size: 36px;
$button-font-size: 14px;
$text-font-size: 16px;
